<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <h1>New Project</h1>
    <%= form_for(@project) do |f| %>
    
    <div class="row">
      <%= f.label :name, class: "col-md-1" %>
      <%= f.text_field :name, class: "col-md-2 col-md-offset-1" %>
    </div>
    
    <div class="row">
      <%= f.label :customer, class: "col-md-1" %>
      <%= f.text_field :customer, class: "col-md-2 col-md-offset-1" %>
    </div>
    
    <div class="row">
      <%= f.submit "Create this project", class: "btn btn-large btn-primary" %>
    </div>
    
    <% end %>
  </div>
</div>