<%= javascript_include_tag 'visualization' %>
<%= javascript_tag do %>
  app.project_id = parseInt('<%= @project.id %>');
  app.prototype_ids = <%= @prototype_ids %>;
<% end %>
<div class="row">
  <div id="main" class="col-md-10 col-md-offset-1">

    <h1 class="app-heading">Heatmap</h1>
    <div id="loading-bar" ></div>
    <h2>Color-coded visualization of usability test data</h2>
  </div>
</div>
<p></p>
<div class="row">  
  <div id="app-container" class="col-md-10 col-md-offset-1">
      <div id="buttonbar">
        <div class="btn-group" data-toggle="buttons">
          <label name="tasktime" class="btn btn-default active switch" data-action="tasktime" >
            <input type="radio" checked> <i class="fa fa-clock-o"></i>&ensp;Task Time
          </label>
          <label class="btn btn-default marker-switch" data-action="all">
            <input type="radio" name="markercount marker"><i class="fa fa-tags"></i>&ensp;Marker Count
          </label>
          <label class="btn btn-default switch" data-action="satisfaction">
            <input type="radio" name="satisfaction"><i class="fa fa-smile-o"></i>&ensp; Satisfaction
          </label>
          <label class="btn btn-default switch" data-action="completed">
            <input type="radio" name="completed"><i class="fa fa-check-circle-o"></i>&ensp; Completed
          </label>
        </div>
        <div class="btn-group" data-toggle="buttons">
          <label class="btn btn-default replaceSet active" data-action="<%= @project.prototypes.first.id %>">
            <input type="radio" name="set" checked> 
            <% if @project.prototypes.first.moniker.empty? %>
              Prototype 1
            <% else %>
              <%= @project.prototypes.first.moniker %>
            <% end %>
          </label>
          <label class="btn btn-default replaceSet" data-action="<%= @project.prototypes.second.id %>">
            <input type="radio" name="set"> 
            <% if @project.prototypes.second.moniker.empty? %>
              Prototype 2
            <% else %>
              <%= @project.prototypes.second.moniker %>
            <% end %>  
          </label>
          <% embed = "#{@project.prototypes.first.id} #{@project.prototypes.second.id}" %>
          <label class="btn btn-default diff" data-action="<%= embed %>">
            <input type="radio" name="compare"><i class="fa fa-bolt"></i>&ensp; Compare
          </label>
        </div>
        
        <div class="btn btn-default" style="margin-left: 100px;">
          <label class="btn btn-secondary toggleColor"><i class="fa fa-paint-brush"></i>&ensp;Greyscale</label>
        </div>
        
        <div class="btn-group" data-toggle="buttons" style="float:right;">
          <label class="btn btn-default changeView active" data-action="emp">
            <input type="radio" name="emp" checked><i class="fa fa-stop"></i>&ensp;Empirical
          </label>
          <label class="btn btn-default changeView" data-action="stat">
            <input type="radio" name="stat"><i class="fa fa-bar-chart"></i>&ensp;Statistical
          </label>
        </div>
        
        <script type="text/template" id="marker-button-bar-tmpl">
          <div id="marker-button-bar" class="btn-group" data-toggle="buttons">
            {{ _.each(codes, function(code) { }}
            
            <label class="btn btn-default marker-switch" data-action="{{= code }}" >
              <input type="radio" name="{{= code }}"> {{= code }}
            </label>
            
            {{ }); }}
          </div>
        </script>
      </div>
  </div>
</div>