<div class="btn-group">
  <button type="radio" class="btn btn-default" checked {{ action 'switch' "tasktime" }}>task time</button>
  <button type="radio" class="btn btn-default" {{ action 'switch' "markercount" }}>marker count</button>
  <button type="radio" class="btn btn-default" {{ action 'switch' "satisfaction" }}>satisfaction</button>
  <button type="radio" class="btn btn-default" {{ action 'switch' "completed" }}>was completed</button>
</div>
<div class="btn-group">
  <button type="radio" class="btn btn-default" checked {{ action 'swap_set' "prototype_id" 1 }}>Prototype A</button>
  <button type="radio" class="btn btn-default" {{ action 'swap_set' "prototype_id" 2 }}>Prototype B</button>
  <button type="radio" class="btn btn-default" {{ action 'render_diff' }}>Compare A and B</button>
</div>